<div class="w-full mb-10 lg:w-6/12 column lg:mb-0 last:lg:mt-20">
    <div class="block aspect-[16/7] rounded-t-xl overflow-hidden">
        {{ responsive:image class="object-cover w-full h-full" loading='lazy' }}
    </div>
    <div class="p-8 bg-blue-700 rounded-b-xl">
        <h3 class="mb-6 text-base h5">
            <a href="{{ url }}">{{ title }}</a>
        </h3>
        <p class="mb-6 small">{{ excerpt }}</p>
        <p class="mt-auto font-medium text-right font-neo small hover:underline"><a class="uppercase text-mango-300"
                href="{{ url }}">Read More</a></p>
    </div>
</div>