{{#
	@name CTA Bar with Image
	@desc Set used for the cta bar.
#}}
<!-- Template: sets/cta_bar_with_image -->
<section class="py-10 text-white lg:py-24 {{ background_style == 'black' ? 'bg-blue-900' : 'bg-mango' }}">
    <div class="container">
        <div class="flex flex-wrap items-center row">
            <div class="order-2 w-full lg:w-7/12 column lg:order-1">
                <h2 class="text-white h3">{{ block.cta }}</h1>

                {{ if block.buttons }}
                    {{ partial src="components/buttons" style="primary" wrapperClass="mt-6 lg:mt-8"  }}
                {{ /if }}
            </div>

            <div class="order-1 w-full mb-7 lg:w-5/12 lg:mb-0 lg:order-2 column">
                {{ responsive:block.image class="w-full h-auto rounded-lg" }}
            </div>
        </div>
    </div>
</section>
