{{#
@name Instagram
#}}

<!-- Template: sets/cta_bar_with_image -->
<!-- <section class="py-10 text-white lg:py-24 {{ background_style == 'black' ? 'bg-blue-900' : 'bg-mango' }}"> -->
<section class="relative instagram text-white py-10">
  <div class="container">

    <h2 id="carousel-title" class="mb-4 font-permanent text-black text-center py-10">{{ follow_us_title }}</h2>

    <div class="elfsight-app-2eb131bf-d274-49c5-ac44-c04f60be2874"></div>

    <!-- <div class="grid grid-cols-4 gap-[1px] h-[300px]">
      <div class="bg-[#1a2334] py-5 px-5 ">
        <div>
          <svg xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-brand-instagram group-hover:fill-[#fe9b45]" width="70" height="80"
            viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" fill="none" stroke-linecap="round"
            stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <rect x="4" y="4" width="16" height="16" rx="4"></rect>
            <circle cx="12" cy="12" r="3"></circle>
            <line x1="16.5" y1="7.5" x2="16.5" y2="7.501"></line>
          </svg>
        </div>
        <div>
          <h3 class="ml-3 mt-5 group-hover:text-[#fe9b45]">{{follow_us_title}}</h3>
          <svg xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-arrow-narrow-right group-hover:fill-[#fe9b45] group-hover:ml-[2px] group-hover:cursor-pointer"
            width="80" height="70" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" stroke-linecap="round"
            stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <line x1="5" y1="12" x2="19" y2="12"></line>
            <line x1="15" y1="16" x2="19" y2="12"></line>
            <line x1="15" y1="8" x2="19" y2="12"></line>
          </svg>

          <div class="h-[1px] bg-white ml-3 mb-3"></div>

          <a class="text-[20px] hover:text-[#fe9b45] ml-3" href="https://www.instagram.com/{{ account }}"
            target="_blank">@{{ account
            }}</a>
        </div>
      </div>
      <div class="static splide col-span-3" aria-labelledby="carousel-title" x-data="heroSlider" x-ref="slider">
        <div class="splide__track" data-glide-el="track">
          <ul class="splide__list">
            {{ instagram_image }}
            <li class="splide__slide">
              <div class="col-span-3 gap-[1px]">
                <div class="flex gap-[1px]">
                  {{ slide_images limit="3"}}
                  <div class="flex-1">
                    <img class="h-[300px] w-full object-cover" src="{{url}}" alt="">
                  </div>
                  {{ /slide_images }}
                </div>
              </div>
            </li>
            {{ /instagram_image }}

          </ul>
        </div>
      </div>

    </div> -->
  </div>
</section>
<script src="https://apps.elfsight.com/p/platform.js" defer></script>