{{#
@name Instagram
#}}

<!-- Template: sets/cta_bar_with_image -->
<!-- <section class="py-10 text-white lg:py-24 {{ background_style == 'black' ? 'bg-blue-900' : 'bg-mango' }}"> -->
<section class="relative instagram text-white py-10">
  <div class="container">

    <h2 id="carousel-title" class="mb-4 font-permanent text-black text-center py-10">{{ follow_us_title }}</h2>

    <div class="elfsight-app-2eb131bf-d274-49c5-ac44-c04f60be2874"></div>

  </div>
</section>
<script src="https://apps.elfsight.com/p/platform.js" defer></script>