{{#
@name Footer
#}}
<!-- Template: globals/footer -->
<footer class="text-white bg-blue-900">
    <img src="/img/mountain.png" alt="" class="w-full h-auto" loading='lazy'>

    <div class="container pb-10">
        <div class="grid grid-cols-6 gap-8 lg:grid-cols-12">
            <div class="col-span-6 lg:col-span-3">
                {{ svg src="logo-white" class="mb-10" }}

                <h4 class="mt-auto mb-4 font-permanent">Follow us</h4>

                <div class="flex items-center gap-6">
                    {{ if socials:youtube }}
                    <a href="{{ socials:youtube }}" target="_blank" rel="noopener noreferrer"
                        class="transition text-mango-300 hover:text-white">
                        {{ svg src="youtube" }}
                    </a>
                    {{ /if }}

                    {{ if socials:facebook }}
                    <a href="{{ socials:facebook }}" target="_blank" rel="noopener noreferrer"
                        class="transition text-mango-300 hover:text-white">
                        {{ svg src="icon-facebook" }}
                    </a>
                    {{ /if }}

                    {{ if socials:instagram }}
                    <a href="{{ socials:instagram }}" target="_blank" rel="noopener noreferrer"
                        class="transition text-mango-300 hover:text-white">
                        {{ svg src="icon-instagram" }}
                    </a>
                    {{ /if }}
                </div>
            </div>

            <div class="col-span-6 md:col-span-2">
                <h5 class="mb-6">Services</h5>
                <ul class="space-y-2">
                    {{ nav:footer_services max_depth="1" }}
                    <li class="text-sm leading-none">
                        <a href="{{ url }}" class="transition hover:text-blue-300">
                            {{ title }}
                        </a>
                    </li>
                    {{ /nav:footer_services }}
                </ul>
            </div>

            <div class="col-span-6 md:col-span-2">
                <h5 class="mb-6">Company</h5>
                <ul class="space-y-2">
                    {{ nav:footer_company max_depth="1" }}
                    <li class="text-sm leading-none">
                        <a href="{{ url }}" class="transition hover:text-blue-300">
                            {{ title }}
                        </a>
                    </li>
                    {{ /nav:footer_company }}
                </ul>
            </div>

            <div class="col-span-6 md:col-span-2">
                <h5 class="mb-6">Location</h5>
                <p class="text-sm">{{ footer:address|nl2br }}</p>
            </div>

            <div class="col-span-6 lg:col-span-3">
                <h4 class="mb-4 font-permanent">Subscribe!</h4>
                <div id="mc_embed_signup">
                    <form id="subscribe-form"
                        action="https://venture-out.us5.list-manage.com/subscribe/post?u=2fc8b2ec1fa6ec6d34ed31f1c&amp;id=4aae6a8b34&amp;v_id=3185&amp;f_id=006eedebf0"
                        method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
                        target="_self">
                        <div id="mc_embed_signup_scroll">
                            <div class="mb-3 newsletter-field">
                                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" required
                                    placeholder="Email address">
                            </div>
                            <div class="text-right">
                                {{ partial:components/buttons/primary
                                color="orange"
                                type="button"
                                subtype="submit"
                                text="Subscribe"
                                class="justify-center w-full subscribe-button"
                                }}
                            </div>
                        </div>
                    </form>
                    <p class="subscribeSuccss"></p>
                </div>

            </div>


        </div>

        {{ if footer.copyright_text }}
        <p class="mt-8 text-blue-300 small">{{ footer.copyright_text }}</p>
        {{ /if }}
    </div>
</footer>

<script type="text/javascript">
    const form = document.getElementById('subscribe-form');
    form.addEventListener('submit', e => {
        e.preventDefault();

        var form = document.querySelector("#subscribe-form");
        var formData = new FormData(form);
        var serializedData = new URLSearchParams(formData).toString();

        var xhr = new XMLHttpRequest();
        xhr.open("POST", "https://venture-out.us5.list-manage.com/subscribe/post?u=2fc8b2ec1fa6ec6d34ed31f1c&id=4aae6a8b34&c=?");
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        xhr.onreadystatechange = function () {
            if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
                document.querySelector('.subscribeSuccss').innerHTML = 'Thank you for subscribing!';
            }
            else {
                document.querySelector('.subscribeSuccss').innerHTML = 'Thank you for subscribing!';
            }
        };
        xhr.send(serializedData);

    });
</script>