{{ partial:components/hero }}

<section class="py-32 text-center text-white bg-blue-900">
    <div class="container max-w-[800px] pt-[76px]">
        <h1 class="mb-4 font-permanent">{{ title }}</h1>
        <!-- <p class="mb-8">Blogs, Vlogs, ramblings and probably nonsense</p> -->
        <div class="flex flex-wrap items-center gap-4 justify-center ">

        </div>
    </div>
</section>


<div class="flex flex-wrap gap-6 px-4 my-8">
    {{ taxonomy from="categories" }}
    {{ $href = url }}
    {{ partial src="components/buttons/secondary" :hrefs="$href" :text="title" }}
    {{ /taxonomy}}
</div>


<div class="container my-14 lg:my-24">
    <div class="grid grid-cols-1 gap-8 lg:grid-cols-3 md:grid-cols-2">
        {{ entries from="articles" paginate="12" as="posts" sort="date:desc"
        }}
        {{ if no_results }}
        <p>Aww, there are no results.</p>
        {{ /if }}

        {{ posts }}
        {{ partial:components/article_card }}
        {{ /posts }}

        <div class="col-span-full">
            {{ paginate:auto_links }}
        </div>
        {{ /entries }}
    </div>
</div>

{{ partial:components/page_builder }}